---
layout: default
title: "Recently read - Robert Bossaert"
description: "I enjoy reading below is a list of books I have read recently."
---
<div class="container max-w-2xl">
    <header class="flex flex-row items-center justify-between py-12">
        <a href="/">
            <img src="./assets/images/photo.jpeg" class="h-16 rounded-full w-16" alt="">
        </a>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml }}
    </header>
    <section class="tracking-normal">
        <h1 class="font-bold mb-4 text-xl">Recently read</h1>
        <div class="flex flex-col space-y-6">
            <p>I enjoy reading below is a list of books I have read recently.</p>
            <div class="border-2 border-slate-800 rounded-xl px-4 py-3">
                <ul class="flex flex-col space-y-2">
                    {% for book in books %}
                        <li class="{% unless forloop.last %}border-b-2 border-slate-800 mb-3 pb-3{% endunless %}">
                            {{ book.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <footer class="h-16"></footer>
</div>