{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags|escape }}" />
<meta name="keywords" content="{{ article.tags|join(', ')|escape }}">
{% include "partials/og-article.html" %}
{% endblock %}

{% block title %} &ndash; {{ article.title|striptags|escape }}{% endblock %}

{% block content %}
<article class="tracking-normal">
  <header>

  </header>
  <h1 class="mb-4 text-xl font-bold">{{ article.title }}</h1>
  <div class="flex flex-col space-y-6">
    <ul>
      {% for category, articles in categories|sort %}
      <li>
        <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{ articles|count }})
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
