{% extends "base.html" %}

{% block meta %}
<meta name="author" content="{{ article.author.name }}" />
<meta name="description" content="{{ article.summary|striptags|escape }}" />
<meta name="keywords" content="{{ article.tags|join(', ')|escape }}">
{% include "partials/og-article.html" %}
{% endblock %}

{% block title %} &ndash; {{ article.title|striptags|escape }}{% endblock %}

{% block content %}
<article>
  <header>
    <div class="mb-4 space-y-2 text-sm">
      <div class="flex flex-row space-x-2">
        {% include "partials/icon-clock.html" %}
        <span>
          Published on <time datetime="{{ article.locale_date }}" itemprop="datePublished">{{ article.locale_date }}</time>
        </span>
      </div>
      {% if article.modified %}
      <div class="flex flex-row space-x-2">
        {% include "partials/icon-clock.html" %}
        <span>
          Modified on <time datetime="{{ article.modified }}" itemprop="dateModified">{{ article.modified.strftime('%B %d, %Y') }}</time>
        </span>
      </div>
      {% endif %}
      <div class="flex flex-row space-x-2">
        {% include "partials/icon-folder.html" %}
        <span>
          Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </span>
      </div>
    </div>
  </header>

  <h1 class="mb-4 text-xl font-bold">{{ article.title }}</h1>
  <div class="wysiwyg">
    {{ article.content }}
  </div>
</article>
{% endblock %}
