<!DOCTYPE html>
<html class="overflow-y-scroll" lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
    {% assets filters="cssmin", output="css/styles.min.css", "css/styles.css" %}
      <link rel="stylesheet" href="{{SITEURL}}/{{ASSET_URL}}" />
    {% endassets %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/pygments/monokai.min.css">
    {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    {% include "partials/og.html" %}
    {% endblock %}
  </head>
  <body class="bg-slate-900 text-slate-200">
    <div class="container max-w-2xl">
      <header class="flex flex-col items-center justify-between py-6 md:py-12 md:flex-row">
          <a aria-label="Home" href="{{ SITEURL }}" class="mb-4 md:mb-0">
              <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/photo.jpeg" class="w-16 h-16 rounded-full" alt="">
          </a>
          <nav class="flex flex-row justify-between w-full py-4 md:w-3/5">
            {% for title, link in MENUITEMS %}
              <a href="{{ link }}">{{ (title) }}</a>
            {% endfor %}

            {% if FEED_ALL_ATOM %}
              <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">Atom</a>
            {% endif %}

            {% if FEED_ALL_RSS %}
              <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS</a>
            {% endif %}
          </nav>
      </header>
      {% block content %}
      {% endblock %}
      <footer class="h-16"></footer>
    </div>
  </body>
</html>
