<!DOCTYPE html>
<html class="overflow-y-scroll" lang="{{ DEFAULT_LANG }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
    <title>{{ SITENAME }}{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITE_DESCRIPTION }}" />
    {% include "partials/og.html" %}
    {% endblock %}
  </head>
  <body class="bg-slate-900 text-slate-200">
    <div class="container max-w-2xl">
      <header class="flex flex-row items-center justify-between py-12">
          <a href="{{ SITEURL }}">
              <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/photo.jpeg" class="w-16 h-16 rounded-full" alt="">
          </a>
          {% for title, link in MENUITEMS %}
            <a href="{{ link }}">{{ (title) }}</a>
          {% endfor %}

          {% if FEED_ALL_ATOM %}
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}">{{ Atom }}</a>
          {% endif %}

          {% if FEED_ALL_RSS %}
            <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">{{ RSS }}</a>
          {% endif %}
      </header>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
