{% extends "base.html" %}

{% block content %}

<section class="pb-12">
  <h1 class="mb-2 text-xl font-bold">Hi, I'm Robert Bossaert</h1>
  <p>{{ SITEDESCRIPTION }}</p>
</section>

<section class="pb-12">
  <h2 class="mb-4 text-slate-400">Articles</h2>
  <div class="px-4 py-3 border-2 border-slate-800 rounded-xl">
    <ul class="flex flex-col mb-4 space-y-3">
      {% for article in articles_page.object_list %}
      <li class="pb-3 border-b-2 border-slate-800">
        <a href="{{ article.url }}" class="block">
          {{ article.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <a href="{{ SITEURL }}/archives/" class="block w-full p-3 text-sm text-center bg-slate-700 hover:bg-slate-800 rounded-xl text-slate-300">
      View more &rarr;
    </a>
  </div>
</section>

<section class="pb-12">
  <h2 class="mb-4 text-slate-400">Recently read</h2>
  <div class="px-4 py-3 border-2 bg-slate-900 border-slate-800 rounded-xl">
    <ul class="flex flex-col space-y-2">
      {% for book in BOOKS %}
        <li class="{% if not loop.last %}border-b-2 border-slate-900 pb-3{% endif %} text-slate-400 text-sm">
          {{ book.name }}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="pb-12">
  <h2 class="mb-4 text-slate-400">My other sites</h2>
  <div>
    <ul class="flex flex-col space-y-2 md:flex-row md:space-x-2 md:space-y-0">
      {% for site in SITES %}
        <li>
          <a href="{{ site.url }}" class="block px-4 py-3 border-2 border-slate-800 hover:bg-slate-950 hover:text-slate-100 rounded-xl" target="_blank">
            {{ site.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% endblock %}
